body {
  background-color: #191b1b;
  color: #fff4e2;
  font-family: Arial;
  font-size: 120%;
}

a {
  color: #b69451;
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: #ffffff;
}

button {
  display: inline-block;
  margin: 15px;
  cursor: pointer;
  font-size: 100%;
  text-align: left;
  background-color: #011a36;
  border-color: #b69451;
  border-width: 2px;
  border-radius: 5px;
  padding: 2px 10px;
  color: #b69451;
  transition: background-color 0.1s;
}

button:hover {
  background-color:#184a83;
  color: #ffffff;
}

.choices button {
  display: block;
}

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color: #b69451;
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
}

.hide {
  display: none;
}

.start {
  text-align: center;
}

.scores {
  position: absolute;
  top: 10px;
  left: 10px;
}

.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: gray;
  border-top: 2px solid #ccc;
}

#timer {
  position: absolute;
  top: 10px;
  right: 10px;
}
